body {
  background-color: rgb(223, 247, 15);
  /* overflow: hidden; */
}

.betul img {
  border-radius: 50%;
}

.salah img {
  border-radius: 50%;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 25px;
}

.petunjuk {
  margin-top: 130px;
  color: rgb(2, 2, 0);
  font-size: 20px;
}

/* .card1 {
    margin-top: 10px;
    background-color: transparent;
    height: 400px;
    width: 400px;
    border: 2px solid #508;
    perspective: 1000px;
  } */
.tanya1,
.tanya2,
.tanya3,
.tanya4,
.tanya5,
.tanya6,
.tanya7,
.tanya8,
.tanya9,
.tanya10,
.tanya11,
.tanya12,
.tanya13,
.tanya14,
.tanya15,
.tanya16,
.tanya17,
.tanya18,
.tanya19,
.tanya20 {
  line-height: 70px;
}
.jawab1,
.jawab2,
.jawab3,
.jawab4,
.jawab5,
.jawab6,
.jawab7,
.jawab8,
.jawab9,
.jawab10,
.jawab11,
.jawab12,
.jawab13,
.jawab14,
.jawab15,
.jawab16,
.jawab17,
.jawab18,
.jawab19,
.jawab20 {
  line-height: 350px;
  font-size: 35px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12,
.card13,
.card14,
.card15,
.card16,
.card16,
.card17,
.card18,
.card19,
.card20 {
  margin-top: 10px;
  background-color: transparent;
  height: 400px;
  width: 400px;
  border: 2px solid #508;
  perspective: 1000px;
}
/* .card1, */
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12,
.card13,
.card14,
.card15,
.card16,
.card17,
.card18,
.card19,
.card20 {
  display: block;
  /* display: none; */
  top: 30.5%;
  left: 50%;
  transform: translate(-500%);
  transition: 2s;
  position: absolute;
}

.card1 {
  transition: 2s;
}

/* .card16 {
    transition: all 1s;
  } */

/* .card3 {
    margin-top: 100px;
    background-color: transparent;
    height: 400px;
    width: 400px;
    border: 2px solid #508;
    perspective: 1000px;
  }
  
  .card4 {
    margin-top: 100px;
    background-color: transparent;
    height: 400px;
    width: 400px;
    border: 2px solid #508;
    perspective: 1000px;
  } */
.flipcard1,
.flipcard2,
.flipcard3,
.flipcard4,
.flipcard5,
.flipcard6,
.flipcard7,
.flipcard8,
.flipcard9,
.flipcard10,
.flipcard11,
.flipcard12,
.flipcard13,
.flipcard14,
.flipcard15,
.flipcard16,
.flipcard17,
.flipcard18,
.flipcard19,
.flipcard20 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* .card:hover .flipcard {
    transform: rotateY(180deg);
  } */
.flipcard-front1,
.flipcard-front2,
.flipcard-front3,
.flipcard-front4,
.flipcard-front5,
.flipcard-front6,
.flipcard-front7,
.flipcard-front8,
.flipcard-front9,
.flipcard-front10,
.flipcard-front11,
.flipcard-front12,
.flipcard-front13,
.flipcard-front14,
.flipcard-front15,
.flipcard-front16,
.flipcard-front17,
.flipcard-front18,
.flipcard-front19,
.flipcard-front20,
.flipcard-back1,
.flipcard-back2,
.flipcard-back3,
.flipcard-back4,
.flipcard-back5,
.flipcard-back6,
.flipcard-back7,
.flipcard-back8,
.flipcard-back9,
.flipcard-back10,
.flipcard-back11,
.flipcard-back11,
.flipcard-back12,
.flipcard-back13,
.flipcard-back14,
.flipcard-back15,
.flipcard-back16,
.flipcard-back17,
.flipcard-back18,
.flipcard-back19,
.flipcard-back20 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* .flipcard-front img {
    width: 400px;
    height: 400px;
  } */

.flipcard-front1 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front2 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front3 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front4 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front5 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front6 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front7 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front8 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front9 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front10 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front11 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front12 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front13 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front14 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front15 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front16 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front17 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front18 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front19 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-front20 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.flipcard-back1 {
  background-color: rgb(241, 33, 10);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back2 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}

.flipcard-back3 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back4 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back5 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back6 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back7 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back8 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back9 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back10 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back11 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back12 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}

.flipcard-back13 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back14 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back15 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back16 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back17 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back18 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back19 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}
.flipcard-back20 {
  background-color: rgb(26, 213, 238);
  color: antiquewhite;
  transform: rotateY(180deg);
}

.answer {
  width: 400px;
  height: 65px;
  display: flex;
  justify-content: center;

  margin: auto;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* .salah {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    top: 10px;
    display: none;
  } */

.betul,
.salah {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  top: 20px;
}

.score-container {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid rgb(214, 198, 198);
  right: 30px;
  top: 20px;
  display: flex;
  box-shadow: 2px 10px 30px green;
  background-color: rgb(101, 248, 248);
}
.score-container p {
  margin: auto;
  text-align: center;
  font-size: small;
}

.user-score {
  font-size: large;
}

.end {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: aliceblue;
  padding-top: 50px;
  display: none;
  background-image: url(../../gif/1.gif);
  background-position: center;
  box-sizing: border-box;
  background-size: cover;
  margin: auto;
}

.end h1 h2 p {
  text-align: center;
}
.end span {
  color: rgb(13, 0, 128);
  font-size: 40px;
  font-weight: bolder;
}

.end1 {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: aliceblue;
  padding-top: 50px;
  /* display: none; */
  /* margin: auto; */
  position: absolute;
  transform: translate(-500%);
  left: 50%;
  top: 0;
}

.end1 h1 h2 p {
  text-align: center;
}
.end1 span {
  color: rgb(235, 4, 24);
  font-size: 40px;
  font-weight: bolder;
}

.end a {
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 9px;
  background-color: rgb(0, 255, 21);
  margin: auto;
  margin-top: 25px;
  color: rgb(1, 8, 15);
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.end a:hover {
  background-color: rgb(69, 201, 57);
}

.end1 a {
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 9px;
  background-color: rgb(255, 0, 13);
  margin: auto;
  margin-top: 25px;
  color: aliceblue;
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.end1 a:hover {
  background-color: rgb(5, 230, 16);
}

.bintang {
  background-image: url(../../gif/bintang6.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  z-index: -999;
}

.semangka {
  background-image: url(../../gif/kecewa1.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: -30%;
  /* bottom: 0; */

  z-index: -999;
}

.materi {
  text-align: center;
  margin: auto;
}
.materi a {
  text-decoration: none;
  color: rgb(243, 235, 235);
}

.tombol-materi {
  margin-left: 25px;
  position: absolute;
  top: 30px;
  height: 50px;
  width: 130px;
  border-radius: 8px;
  display: flex;
  background-color: aliceblue;
  animation: tombol 2s ease-in-out infinite;
}

@keyframes tombol {
  0% {
    background-image: linear-gradient(green, purple);
  }

  25% {
    background-image: linear-gradient(yellow, rgb(0, 7, 100));
  }

  50% {
    background-image: linear-gradient(rgb(241, 145, 145), rgb(61, 61, 218));
  }
  75% {
    background-image: linear-gradient(grey, rgb(233, 11, 48));
  }

  100% {
    background-image: linear-gradient(rgb(250, 114, 148), rgb(12, 245, 226));
  }
}

.tombol-materi:hover {
  transform: scale(1.2);
}

input {
  margin: auto;
  display: block;
  width: 393px;
  margin-top: 6px;
  padding: 5px;
  border: 1px solid rgb(128, 0, 100);
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  color: black;
  background-color: rgb(65, 250, 19);
  z-index: 9999;
}

input:hover {
  background-color: rgb(14, 245, 168);
  border: 2px solid yellow;
}

button {
  background-color: rgb(15, 15, 224);
  padding: 3px;
  border-radius: 30px;
  width: 100px;
  color: aliceblue;
  margin: auto;
  display: block;
  margin-top: 10px;
  z-index: 9999;
}

button:hover {
  background-color: rgb(69, 69, 221);
}

.pop {
  height: 100px;
  width: 200px;
  margin: auto;

  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.popup {
  width: 150px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  background-color: rgb(54, 211, 37);
  animation: popup1 0.5s ease-in-out infinite;
  display: none;
  color: rgb(0, 7, 0);
}

@keyframes popup1 {
  from {
    scale: 1;
  }

  to {
    scale: 3;
  }
}

.popup h2,
.popup1 h2 {
  text-align: center;
  line-height: 0;
}

.popup2 {
  width: 150px;
  height: 60px;
  border: 1px solid red;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 219, 12);
  animation: popup2 2s ease-in-out infinite;
  color: rgb(21, 12, 0);
  display: none;
  animation-delay: 1s;
}

@keyframes popup2 {
  from {
    width: 150px;
  }

  to {
    width: 200px;
  }
}

.popup1 {
  width: 150px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  margin: auto;
  display: flex;
  background-color: rgb(226, 12, 12);
  animation: popup1 0.5s ease-in-out infinite;
  color: rgb(245, 245, 245);
  display: none;
  animation-delay: 1s;
}

@keyframes popup1 {
  from {
    scale: 1;
  }

  to {
    scale: 3;
  }
}

/* MEDIA QUERY */
@media (min-width: 1000px) {
  .game1,
  .game2,
  .game3,
  .game4,
  .game5,
  .game6,
  .game7,
  .game8,
  .game9,
  .game10 {
    transition: 2s;
    margin-top: -50px;
  }

  input {
    width: 400px;
  }

  .petunjuk {
    width: 400px;
    margin-top: 65px;
  }

  .tombol-materi {
    margin-left: 200px;
    /* position: absolute; */
    top: 200px;
    height: 50px;
    width: 130px;
  }

  .score-container {
    /* position: absolute; */
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid rgb(214, 198, 198);
    margin-right: 200px;
    top: 200px;
    display: flex;
    box-shadow: 2px 10px 30px green;
    background-color: rgb(101, 248, 248);
  }

  .card1 {
    margin-top: 50px;
  }

  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8,
  .card9,
  .card10,
  .card11,
  .card12,
  .card13,
  .card14,
  .card15,
  .card16,
  .card16,
  .card17,
  .card18,
  .card19,
  .card20 {
    display: block;
    transition: all 2s;
    position: absolute;
    /* top: 30.5%; */
    margin-top: -50px;
    left: 50%;
    transform: translate(-500%);
  }

  .pop {
    margin-top: -20px;
  }

  body {
    overflow: hidden;
  }
}
